<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.drz.user">

    <application >
        <activity android:name=".ChooseActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".AttentionActivity"/>
        <activity android:name=".LoginActivity"/>
        <activity android:name=".RegistryActivity"/>

    </application>

</manifest>